*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #eeebf4;
  /* color: #868687; */
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  /* font-weight: 700; */
}
a {
  text-decoration: none;
  color: inherit;
}

.main-section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #f8f7fa;
  /* overflow-y: auto; */
  overflow-x: hidden;
  height: 100vh;
}
.main-quote {
  color: #51456b;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin: 1rem auto 2rem auto;
}

/* RIGHT SECTION START */
section.right-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
