/* .post-detail-main-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
} */
.post-detail-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 15rem;
}

.main-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  /* padding: 2rem 5rem; */
}
.main-content > h4 {
  margin-top: 2rem;
}
